@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap');

:root {
  --primary: #27888e;
  --secondary: #ef516f;
  --primary-alt: #1b6064;
  --contrast: #ededed;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Anek Latin", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.125em;
  text-align: center;
}

.main_section {
  position: relative;
  max-width: 566px;
  margin: auto;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}